<!DOCTYPE html>
<html>
	<head>
	  <title>Depot</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>		
	</head>

	<body class="<%= controller.controller_name %>">

		<div id="all">
			
			<div class="header">
					
				 	<h1 id="maintitle"><%= @page_title || "yet another bookshelf" %></br>
				 	<small>git commit -m "it's getting better"</small></h1> 

			</div>

			<nav id="menu">
				<ul>
					<li><a href="http://www....">Home</a></li>
					<li><a href="http://www..../Cart">Cart</a></li>
					<li><a href="http://www..../news">News</a></li>
					<li><a href="http://www..../products">Products</a></li>
				</ul>
			</nav>

			<div id="main">
				<%= yield %>
			</div>

		</div>
	</body>

</html>
