<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
         
      <!-- Latest compiled and minified  bootsrap CSS-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

      <!-- responsive menu styling -->
     
      <!-- jquery plugin call. (main importance to function) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
      
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"/>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      
  </head>
        
  <body class='<%= controller.controller_name %>'>
 
    <div class="all"> 
            
      <nav class="top">
          
          <div id="dl-menu" class="dl-menuwrapper">
            <button class="dl-trigger">Menu</button>
              <ul class="dl-menu">
                  <li>
                      <a href="#">Home</a>
                        <!-- primeiro nível de submenu -->
                        <ul class="dl-submenu">
                          <li>
                            <a href="#">Submenu</a>
                              <!-- segundo nível de submenu -->
                              <ul class="dl-submenu">
                                <li><a href="#">Sub-submenu</a></li>
                              </ul>
                          </li>
                          <li><a href="#">outro item</a></li>
                        </ul>
                    </li>
                    <!-- de volta ao primeiro nível -->
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
               </ul>
          </div><!-- /dl-menuwrapper -->
                        
        <div class="page_title">
          <h1><%= @page_title || "PRAGMATIC BOOKSHELF" %></h1>
        </div>

        <h2><%=link_to(image_tag("cart.png", :size => "50x50"), carts_path) %></h2>
         
                            
      </nav>
                
      <div id="main">
        <%= yield %>
      </div>

    </div>
    
  </body>

</html>
