<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
         
      <!-- Latest compiled and minified  bootsrap CSS-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

      <!-- jquery plugin call. (main importance to function) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      
  </head>
        
  <body class='<%= controller.controller_name %>'>
 
    <div class="all"> 
      <header class="top">
        <!-- cart -->
        <div class="right">
          <%=link_to(image_tag("cart.png", :size => "75x75"), cart_path(session[:cart_id]), :class => "cart") %>
        </div>
        <!-- main title -->      
        <h1 id="main-title"><%= @page_title || "boekenwinkel" %></h1>
          
      </header>
        
      <div id="options">
        <!-- /dl-menuwrapper -->
        <nav id="dl-menu" class="dl-menuwrapper">
          <button class="dl-trigger">Menu</button>
            <ul class="dl-menu">

                <li><a href="/">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="#">Contact</a></li>
             </ul>
        </nav>
        
      </div>        
      
      <div id="main">
        <%= yield %>
      </div>

    </div>
    
  </body>

</html>
