<h1>MY SHELVES</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to 'Detalhes', cart %></td>
        <td><%= link_to 'Editar', edit_cart_path(cart) %></td>
        <td><%= link_to 'Excluir', cart, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo carrinho', new_cart_path %>

<%= button_to 'Voltar', store_path, method: :get %>