<h1>Produtos</h1>

<table>
<% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title %></dt>
        <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= button_to 'Detalhes', product, :method => :get %>
      <%= button_to 'Editar', edit_product_path(product), :method => :get %>
      <%= button_to 'Destruir', product, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />

<%= button_to 'Novo Produto', new_product_path, :method => :get %>
